
.search_wrap_start_time {display: inline; position: relative}
.search_wrap_end_time {display: inline-block; position: relative; left: 10px}
.search_wrap_task{display: inline; position: relative;  left: 45px}
.search_wrap_user{display: inline;  position: relative;  left:300px}


.search_wrap_task_states{ position: relative;  left:420px; top: 5px}
.search_wrap_user_status{display: inline;  position: relative; left: 481.6px; bottom: 24px }
.search_wrap_task_types{display: inline; position: relative; left: 420px;  top:5px}

.search_wrap_submit{display: inline;  position: relative; left: 530px; bottom: 30px }

.report_wrap_task_list p{color: darkseagreen} li{color: black}
.report_wrap_user_list p{color: darkseagreen} li{color: black}
