.user_task_filter{position: relative; left: 65%}
.user_task_filter_select{display: inline}
.user_task_filter_submit{display: inline; position: relative; left: 20px;}
.user_tasks_wrap_task_pending{display: inline;}
//.user_tasks_wrap_task_title{display: inline}
.user_tasks_wrap_task_confirmed{display: inline}
//.user_tasks_wrap_task_create{display: inline}