<div class="time_detail">
  <% if @task.task_total_work_time != 0 %>
      <ul class="time_detail_work_time">
        <% @task.hours.each do |h| %>
            <li class="time_detail_user_work_time"><%= link_to h.work_time, [h.task.project, h.task, h],
                                                               class: "time_detail_user_time_link" %> h | <%= h.user.user_name %></li>
        <% end %>
        <% @task.sub_tasks.each do |t| %>
            <% if t.task_total_work_time > 0 %>
                <li class="time_detail_subtask_work_time"><%= link_to t.task_total_work_time, [t.project, t],
                                                                      class: "time_detail_task_link" %> h | <%= t.title %></li>
            <% end %>
        <% end %>
      </ul>
      <br/>
  <% end %>

</div>

