<%# when the user type is different, the user has different privilege to modify information %>
<% if current_user.roles.exists?(role_name: "administrator") %>
    <h1>Modify a User</h1>
    <%= render partial: "form", object: @user, locals: {sign_up: false, edit: true}%>
<% else %>
    <h1>Update Your Information</h1>
    <%= render partial: "form", object: @user, locals: {sign_up: false, edit: true} %>
<% end %>

