<h1>All Projects</h1>
<% if Project.all.size >0 %>
    <h2><%= Project.all.size %> Projects</h2>
    <ul id="projects">
      <% @projects.each do |project| %>
          <li><%= link_to project.title, project, class: 'project_title' %></li>
      <% end %>
    </ul>
<% else %>
    <p>No Projects</p>
<% end %>

<%= link_to "Create a New Project", new_project_path, class: "new" %>
<br/><br/>
<h3><%= link_to "<< Back to Personal Profile", current_user %></h3>



