.invite_participant
  %h1 Invite Participant
  = form_for @project, url: invite_participant_project_path(@project), method: :get do |f|
    %p
      = f.label :invite_participants
      %br
      = f.collection_check_boxes :participants_id, User.where("activated = ? and id != ?", true, @project.user.id), :id, :user_name, :checked => @project.participants.map(&:id), :include_hidden => false
    %p
      = f.submit "OK"

