// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_project{
  ul li {color:red}
}
#edit_project{
  ul li {color:red}
}
.project_filter{position: relative; left: 72%}
#project_select{display: inline}
#project_filter_submit{display: inline; position: relative; left: 24px;}