// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* forms */
#user_type li{ display: inline }
#start_time {display: inline; position: relative}
#end_time {display: inline-block; position: relative; left: 10px}
#task{position: absolute;
  left:  35%; top: 40%}
#task_status{ position: absolute;top :50%;
  left:  35%;}

#user{display: inline;  position: absolute;
  left:  60%; top:40%}
#user_status{display: inline;  position: absolute;
  left:  60%; top:50%}

#submit{display: inline;  position: absolute;
  left:  85%;}
#task_list p{color: darkseagreen} li{color: black}
#user_list p{color: darkseagreen} li{color: black}
